{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/album_detail_style.css' %}">
{% endblock %}
{% block content %}
	<div id="right">
		{% if album %}
			<div id="album-info">
				<h1>{{ album.name }}</h1>
				<p>Release Date: {{ album.release_date }}</p>
				<p>Album track count here: {{ album.track_list|length }}</p>
				<ul id="list-owner">
					<li> Owners: </li>
					{% for artist in album.owner_list %}
					<a href = "{{ artist.get_absolute_url }}">
						<li>{{ artist.name }}</li>
					</a>
					{%endfor%}
				</ul>
			</div>
			<div id="track-list">
				<h3>Track list</h3>
				<ul id="header">
					<li><strong>Track Number</strong></li>
					<li><strong>Name</strong></li>
					<li><strong>Duration</strong></li>
					<li><strong>Artists</strong></li>
				</ul>

				{% for track in album.track_list %}
				<ul class="hover-this">
					<li id="track-numb"> {{ track.track_number }}</li>
					<a href="{{ track.recording.get_absolute_url }}">
						<li>{{ track.recording.name }}</li>
					</a>
					<li> {{ track.recording.duration }}</li> 
					<li id = "artist_item"> <ul>
						{% for artist in track.recording.artist_credits.all.distinct %}
						<a href = "{{ artist.get_absolute_url }}">
							<li>{{ artist.name }}</li>
						</a>
						{% endfor %}
					</ul></li>
					<li id="add-button" onclick="addSongToQueue({{ track.recording.id }})"><i class="fas fa-plus-circle"></i></li>
				</ul>
				{% endfor %}
			</div>
		{% else %}
			<p>No Album of this id available.</p>
		{% endif %}
	</div>
{% endblock %}
