{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/album_detail_style.css' %}">
{% endblock %}
{% block content %}
	<div id="right">
		{% if album %}
			<div id="album-info">
				<h1>{{ album.name }}</h1>
				<p>Release Date: {{ album.release_date }}</p>
				<p>Album track count here: {{ album.track_list|length }}</p>
				<ul id="list-owner">
					<li> Owners: </li>
					{% for artist in album.owner_list %}
					<a href = "{{ artist.get_absolute_url }}">
						<li>{{ artist.name }}</li>
					</a>
					{%endfor%}
				</ul>
				<br/>
				{% if view.request.user.is_authenticated %}
				<a href="{% url 'edit:album-update' pk=album.pk %}"><i class="fas fa-pen"></i></a>
				<a href="{% url 'edit:album-delete' pk=album.pk %}"><i class="fas fa-trash"></i></a>
				{% endif %}
			</div>
			<div id="track-list">
				<h3>Track list</h3>
				<table>
					<tr>
						<th>Track Number</th>
						<th>Name</th>
						<th>Duration</th>
						<th>Artists</th>
					</tr>
					{% for track in album.track_list %}
					<tr class="hover-this">
						<td> {{ track.track_number }}</td>
						<td>
							<a class="text" href="{{ track.recording.get_absolute_url }}">
								{{ track.recording.name }}
							</a>
						</td>
						
						<td> {{ track.recording.duration }}</td> 
						<td> 
							{% for artist in track.recording.artist_credits.all.distinct %}
								<a class="text" href = "{{ artist.get_absolute_url }}">
									{{ artist.name }}
								</a>
								<br />
							{% endfor %}
						</td>
						<td id="add-button" onclick="addSongToQueue({{ track.recording.id }})"><i class="fas fa-plus-circle"></i></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		{% else %}
			<p class="text">No Album of this id available.</p>
		{% endif %}
	</div>
{% endblock %}
