{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/artist_detail_style.css' %}">
{% endblock %}
{% block content %}
    <div id="right">
        <div id="artist-info">
            <h1> {{artist.name}}</h1>
        </div>
        <div id="credit-album">
            <div class="list">
                <h3>Credited Recordings</h3>
                <ul id="header">
                    <li><strong>Name</strong></li>
                    <li><strong>Duration</strong></li>
                    <li><strong>Role</strong></li>
                    <li></li>
                </ul>
                {% for credit in artist.credits %}
                <ul class="hover-this">
					<a href="{{ credit.recording.get_absolute_url }}"><li>{{ credit.recording.name }}</li></a>
                    <li>{{ credit.recording.duration }}</li>
                    <li>{{ credit.get_role_display }}</li>
                    <li id="add-button" onclick="addTrack({{ track.recording.id }})"><i class="fas fa-plus-circle"></i></li>
                </ul>
                {% endfor %}
            </div>
        </div>

        <div id="owned-album">
            <div class="list">
                <h3>Artist's Albums</h3>
            <ul id="header">
                <li><strong>Name</strong></li>
                <li><strong>Release Date</strong></li>
                <li><strong>Owner</strong></li>
                <li><strong>Type</strong></li>
            </ul>
                {% for album in artist.owned_albums %}
                <ul class="hover-this"><a style="text-decoration:none" href="{% url 'music:album-detail' album.id %}">
                    <li>{{ album.name }}</li>
                    <li>{{ album.release_date }}</li>
                    <li id = "artist_item"> <ul id="list-owner">
                        {%for artist in album.owner.all %}
						<a href = "{{ artist.get_absolute_url }}"><li>{{artist.name}}</li></a>
                        {%endfor%}
                    </ul></li>
                <li> {{ album.get_album_type_display }}</li>
                </a></ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
