{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/artist_detail_style.css' %}">
{% endblock %}
{% block content %}
    <div id="right">
        <div id="artist-info">
            <h1> {{artist.name}}</h1>
            <p>This is an artist yey !!!</p>
        </div>
        <div id="credit-album">
            <div class="list">
                <h1>Credited Tracks</h1>
                <ul>
                    <li><strong>Name</strong></li>
                    <li><strong>Duration</strong></li>
                    <li><strong>Album Name</strong></li>
                    <li><strong>Track Number</strong></li>
                </ul>
                {% for track in artist.credited_tracks %}
                <ul class="list-hover">
                    <a href="{% url 'music:track-detail' track.id %}"><li> {{ track.recording.name }}</li></a>
                    <li> {{ track.recording.duration }}</li>
                    <a style="text-decoration:none" href="{% url 'music:album-detail' track.album.id %}"><li>   {{ track.album.name }}</li></a>
                    <li> {{ track.track_number }}</li>
                    <li id="add-button" onclick="addTrack( '{{ track.id }}' );return false;"><i class="fas fa-plus-circle"></i></li>
                </ul>
                {% endfor %}
            </div>
        </div>


        <div id="owned-album">
            <div class="list">
                <h1>Artist's Albums</h1>
            <ul>
                <li><strong>Name</strong></li>
                <li><strong>Release Date</strong></li>
                <li><strong>Owner</strong></li>
                <li><strong>Type</strong></li>
            </ul>
                {% for album in artist.owned_albums %}
                <ul class="list-hover"><a style="text-decoration:none" href="{% url 'music:album-detail' album.id %}">
                    <a href="{% url 'music:album-detail' album.id %}"><li> {{ album.name }}</li></a>
                    <li> {{ album.release_date }}</li>
                    <li id = "artist_item"> <ul id="list-owner">
                        {%for artist in album.owner.all %}
                        <a href = "{%url 'music:artist-detail' artist.id%}"><li>{{artist.name}}</li></a>
                        {%endfor%}
                    </ul></li>
                <li> {{ album.get_album_type_display }}</li>
                </a></ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}