{% if all_album_list %}
    <ul>
    {% for album in all_album_list %}
        <li><a href="/music/{{album.id}}/">{{ album.id }}</a> </li>
        <ul>
            <li><strong>Name:</strong> {{ album.name }}</li>
            <li><strong>Date:</strong> {{ album.release_date }}</li>
            <li><strong>Artist:</strong> {{ album.artist.name }}</li>
            <li><strong>Type:</strong> {{ album.album_type }}</li>
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No albums are available.</p>
{% endif %}