{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">

{% endblock %}

{% block content %}
	<div id="right">
		<div id="genre">
			<h2>Genre</h2>
			<a class="more" href="{% url 'music:genre_list' %}">More >></a>
			<div class="genre-list">
				{% if all_genre_list %}
					<table>
						<tr>
							<th>Name</th>
						</tr>
						{% for genre in all_genre_list %}
						<tr class="hover-this">
							<td>
								<a class="text" href="{% url 'music:genre-detail' genre.id %}"> {{ genre.name }}</a>
							</td>
						</tr>
						{% endfor %}
					</table>
					
				{% else %}
					<p class="text">No genres are available.</p>
				{% endif %}
			</div>
		</div>

		<div id="album">
			<h2>Latest album</h2>
			<a class="more" href="{% url 'music:album_list' %}">More >></a>
			<div class="album-list">
				{% if all_album_list %}
					<table>
						<tr>
							<th>Name</th>
							<th>Release Date</th>
							<th>Owner</th>
							<th>Type</th>
						</tr>
						{% for album in all_album_list %}
						<tr class="hover-this">
							<td>
								<a class="text" href="{% url 'music:album-detail' album.id %}">{{ album.name }}</a>
							</td>
							<td> {{ album.release_date }}</td>
							<td id = "artist_item"> 
								{%for artist in album.owner.distinct %}
								<a class="text" href = "{%url 'music:artist-detail' artist.id%}">{{artist.name}}</a> <br />
								{%endfor%}
							</td>
							<td> {{ album.get_album_type_display }}</td>
						</tr>
						{% endfor %}
					</table>
					
				{% else %}
					<p class="text-color">No albums are available.</p>
				{% endif %}
			</div>
		</div>

		<!-- Top 5 trending track -->
		<div id="trend">
			<h2>Trending</h2>
			{% if top_recording_list %}
			<a class="more" href="{% url 'music:recording_list' %}">More >></a>
			<div class="album-list">
				<table>
					<tr>
						<th>Name</th>
						<th>Artists</th>
						<th>Duration</th>
						<th> </th>
					</tr>
					{% for recording in top_recording_list %}
					<tr class="hover-this">
						<td>
							<a class="text" href="{{ recording.get_absolute_url }}">
								{{ recording.name }}
							</a>
						</td>
						<td>{{ recording.artist_names }}</td>
						<td>{{ recording.duration }}</td>
						<td id="add-button" onclick="addSongToQueue({{ recording.id }})"><i class="fas fa-plus-circle"></i></td>
					</tr>
					{% endfor %}
				</table>
				
			</div>
			{% endif %}
		</div>

		<!-- Top 5 artist by name -->
		<div id="artist">
			<h2>Artist</h2>
			<a class="more" href="{% url 'music:artist_list' %}">More >></a>
			<div class="artist-list">
				{% if top_artist_list %}
					<table>
						<tr>
							<th>Name</th>
						</tr>
						{% for artist in top_artist_list %}
						<tr class="hover-this">
							<td>
								<a class="text" href="{% url 'music:artist-detail' artist.id%}">
									{{ artist.name }}
								</a>
							</td>
						</tr>
						{% endfor %}
					</table>
					
				{% else %}
					<p class="text-color">No artists are available.</p>
				{% endif %}
			</div>
		</div>

		<!-- Top 5 playlist -->
		<div id="playlist">
			<h2>Visible Playlists</h2>
			<a class="more" href="{% url 'playlist:playlist-index' %}">More >></a>
			<div class="playlist-list">
				{% if top_playlist %}
					<table>
						<tr>
							<th>Name</th>
							<th>User</th>
							<th>Time Created</th>
						</tr>
						{% for playlist in top_playlist %}
						<tr class="hover-this">
							<td>
								<a class="text" href="{%url 'playlist:playlist-detail' playlist.id%}">
									{{ playlist.name }}
								</a> 
							</td>
							<td> {{ playlist.user }}</td>
							<td> {{ playlist.time_created }}</td>
						</tr>
						{% endfor %}
					</table>
					
				{% else %}
					<p class="text-color">No playlists are available.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
