{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block content %}
	<div id="right">
		<div id="album">
			<h2>Latest album</h2>
			<a class="more" href="{% url 'music:album_list' %}">More >></a>
			<div class="album-list">
				{% if all_album_list %}
					<ul>
						<li><strong>Name</strong></li>
						<li><strong>Release Date</strong></li>
						<li><strong>Owner</strong></li>
						<li><strong>Type</strong></li>
						<li> </li>
					</ul>
					{% for album in all_album_list %}
					<ul>
						<a href="{% url 'music:album-detail' album.id %}"><li> {{ album.name }}</li></a>
						<li> {{ album.release_date }}</li>
						<li id = "artist_item"> <ul id="artist_list">
							{%for artist in album.owner.distinct %}
							<a href = "{%url 'music:artist-detail' artist.id%}"><li>{{artist.name}}</li></a>
							{%endfor%}
						</ul></li>
						<li> {{ album.get_album_type_display }}</li>
					</ul>
					{% endfor %}
				{% else %}
					<p>No albums are available.</p>
				{% endif %}
			</div>
		</div>

		<!-- Top 5 trending track -->
		<div id="trend">
			<h2>Trending</h2>
			<a class="more" href="{% url 'music:track_list' %}">More >></a>
			<div class="album-list">
				{% if top_track_list %}
					<ul>
						<li><strong>Track Number</strong></li>
						<li><strong>Album</strong></li>
						<li><strong>Track Name</strong></li>
					</ul>
					{% for track in top_track_list %}
					<ul>
						<li> {{ track.track_number }}</li>
						<a href="{% url 'music:album-detail' track.album.id %}"><li> {{track.album.name}}</li></a>
						<a href="{% url 'music:track-detail' track.id %}"><li> {{ track.recording.name }}</li></a>
						<li id="add-button" onclick="addTrack( '{{ track.id }}' );return false;"><i class="fas fa-plus-circle"></i></li>
					</ul>
					{% endfor %}
				{% else %}
					<p>No tracks are available.</p>
				{% endif %}
			</div>
		</div>

		<!-- Top 5 artist by name -->
		<div id="artist">
			<h2>Artist</h2>
			<a class="more" href="{% url 'music:artist_list' %}">More >></a>
			<div class="artist-list">
				{% if top_artist_list %}
					<ul>
						<li><strong>Name</strong></li>
					</ul>
					{% for artist in top_artist_list %}
					<ul><a href="{% url 'music:artist-detail' artist.id%}">
						<li> {{ artist.name }}</li>
					</a></ul>
					{% endfor %}
				{% else %}
					<p>No artists are available.</p>
				{% endif %}
			</div>
		</div>

		<!-- Top 5 playlist -->
		<div id="playlist">
			<h2>Playlist</h2>
			<a class="more" href="{% url 'playlist:playlist-index' %}">More >></a>
			<div class="playlist-list">
				{% if top_playlist %}
					<ul>
						<li><strong>Name</strong></li>
						<li><strong>User</strong></li>
						<li><strong>Time Created</strong></li>
					</ul>
					{% for playlist in top_playlist %}
					<ul><a href="{%url 'playlist:playlist-detail' playlist.id%}">
						<li> {{ playlist.name }}</li>
						<li> {{ playlist.user }}</li>
						<li> {{ playlist.time_created }}</li>
					</a></ul>
					{% endfor %}
				{% else %}
					<p>No playlists are available.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
