{%  extends 'music/main.html' %}

{% block content %}


<br>

<div class="row">
	<div class="col-md-5">
		<h5>PENDING REQUESTS:</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Artist ID</th>
					<th>Artist Name</th>
					<th>Query</th>
					<th>Date</th>
					<th>Description</th>
				</tr>

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>RECENTLY ACCEPTED REQUESTS:</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Artist ID</th>
					<th>Artist Name</th>
					<th>Query</th>
					<th>Date</th>
					<th>Description</th>
				</tr>


		
			</table>
		</div>
	</div>

</div>

{% endblock %}
