{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/track_detail_style.css' %}">
{% endblock %}
{% block content %}
	<div id="right">
		<div id="artist-info">
			<h1> {{ recording.name }}</h1>
			<h3>Duration: {{ recording.duration }}</h3>
			{% if view.request.user.is_authenticated %}
			<a href="{% url 'edit:recording-update' pk=recording.pk %}"><i class="fas fa-pen"></i></a>
			<a href="{% url 'edit:recording-delete' pk=recording.pk %}"><i class="fas fa-trash"></i></a>
			{% endif %}
		</div>

		<div id="credit-album">
			<div class="list">
				<h3>Artists Credits</h3>
				<table>
					<tr>
						<th>Name</th>
						<th>Role</th>
					</tr>
					{% for credit in recording.credit_set.all %}
					<tr class="hover-this">
						<td>
							<a class="text" href="{{ credit.artist.get_absolute_url }}">
							{{ credit.artist.name }}
							</a>
						</td>
						<td>{{ credit.get_role_display }}</td>
					</tr>
					{% endfor%}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
