{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/track_detail_style.css' %}">
{% endblock %}
{% block content %}
    <div id="right">
        <div id="artist-info">
            <h1> {{track.name}}</h1>
            <p>This is a track yey !!!</p>
            <p>Duration: {{track.duration}}</p>
            <p>Album: {{track.album.name}}</p>
            <p>Track Number: {{track.track_number}}</p>
        </div>

        <div id="credit-album">
            <div class="list">
                <h3>Artists Credits</h3>
                <ul>
                    <li><strong>Name</strong></li>
                    <li><strong>Role</strong></li>
                </ul>
                {% for credit in track.credit %}
                <ul id="list-hover"><a style="text-decoration:none" href="{% url 'music:artist-detail' credit.artist.id %}">
                    <li> {{ credit.artist.name }}</li>
                    <li> {{ credit.get_role_display }}</li>
                </a></ul>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}
