{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/track_detail_style.css' %}">
{% endblock %}
{% block content %}
	<div id="main">
        <div id="left">
            <ul>
                <li><i class="fas fa-home"></i> Home</li>
                <li><i class="fas fa-search"></i> Search</li>
                <li><i class="fas fa-headphones-alt"></i> Your library</li>
            </ul>
        </div>
        <div id="right">
            <div id="artist-info">
                <h1> {{track.name}}</h1>
                <p>This is a track yey !!!</p>
                <p>Duration: {{track.duration}}</p>
                <p>Album: {{track.album.name}}</p>
                <p>Track Number: {{track.track_number}}</p>
            </div>
            
            <div id="credit-album">
                <div class="list">
                    <h3>Artists Credits</h3>
                    <ul>
                        <li><strong>Name</strong></li>
                        <li><strong>Role</strong></li>
                    </ul>
                    {% for credit in track.credit %}
                    <ul id="list-hover"><a style="text-decoration:none" href="{% url 'music:artist-detail' credit.artist.id %}">
                        <li> {{ credit.artist.name }}</li>
                        <li> {{ credit.get_role_display }}</li>
                    </a></ul>
                    {% endfor%}
                </div>     
            </div>
        </div>
    </div>
    
    <div id="player">
        <div class="info">
            <div class="progress-bar">
                <div class="time--current">1:25</div>
                <div class="time--total">3:15</div>
                <div class="fill"></div>
            </div>
            <div class="currently-playing">
                <h2 class="song-name">1 Phut</h2>
                <h3 class="artist-name">Andiez</h3>
            </div>
            <div class="controls">
                <div class="option"><i class="fas fa-bars"></i></div>
                <div class="volume"><i class="fas fa-volume-up"></i></div>
                <div class="previous"><i class="fas fa-backward"></i></div>
                <div class="play"><i class="fas fa-play"></i></div>
                <div class="pause"><i class="fas fa-pause"></i></div>
                <div class="next"><i class="fas fa-forward"></i></div>
                <div class="shuffle"><i class="fas fa-random"></i></div>
                <div class="add"><i class="fas fa-plus"></i></div>
            </div>
        </div>
    </div>
{% endblock %}
