{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_page/album_list_style.css' %}">
{% endblock %}
{% block content %}
	<div id="right">
		<h1>Latest Album</h1>
		<div class="latest-album-list">
			{% if album_list %}
				<table>
					<tr>
						<th>Name</th>
						<th>Release Date</th>
						<th>Owner</th>
						<th>Type</th>
					</tr>
					{% for album in album_list %}
					<tr class="hover-this">
						<td>
							<a class="text" href="{% url 'music:album-detail' album.id %}">
								{{ album.name }}
							</a>
						</td>
						<td> {{ album.release_date }}</td>
						<td> 
							{%for artist in album.owner.distinct %}
								<a class="text" href = "{%url 'music:artist-detail' artist.id%}">
									{{artist.name}}
								</a>
								<br />
							{%endfor%}
						</td>
						<td> {{ album.get_album_type_display }}</td>
					</tr>
					{% endfor%}
				</table>
			{% else %}
				<p>No albums are available.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}