{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_page/artist_list_style.css' %}">
{% endblock %}
{% block content %}
    <div id="right">
        <h1>Artists</h1>
        <div class="artist-list">
            {% if artist_list %}
                <table>
					<tr>
						<th>Name</th>
					</tr>
					{% for artist in artist_list %}
					<tr class="hover-this">
						<td>
                        <a class="text" href="{% url 'music:artist-detail' artist.id %}">
                            {{ artist.name }}
                        </a></td>
						<td>{{ credit.get_role_display }}</td>
					</tr>
					{% endfor%}
				</table>
            {% else %}
                <p class="text">No artists are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}