{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/playlist_list_style.css' %}">
{% endblock %}
{% block content %}
	<div id="main">
		<div id="left">
			<ul>
				<li><i class="fas fa-home"></i> Home</li>
				<li><i class="fas fa-search"></i> Search</li>
				<li><i class="fas fa-headphones-alt"></i> Your library</li>
			</ul>
		</div>
		<div id="right">
			<h1>Top Trending Playlists</h1>
			<div class="playlist-list">
                {% if playlist_list %}
                    <ul>
                        <li><strong>Name</strong></li>
                        <li><strong>User</strong></li>
                        <li><strong>Time Created</strong></li>
                    </ul>
                    {% for playlist in playlist_list %}
                    <ul id="hover-this"><a href="{%url 'music:playlist:playlist-detail' playlist.id%}">
                        <li> {{ playlist.name }}</li>
                        <li> {{ playlist.user }}</li>
                        <li> {{ playlist.time_created }}</li>
                    </a></ul>
                    {% endfor %}
                {% else %}
                    <p>No playlists are available.</p>
                {% endif %}
            </div>
        </div>
    </div>

	<div id="player">
		<div class="info">
			<div class="progress-bar">
				<div class="time--current">1:25</div>
				<div class="time--total">
					<span id="total" onload=""></span>
				</div>
				<div class="fill"></div>
			</div>
			<div class="currently-playing">
				<h2 class="song-name"><span>Fuck</span></h2>
				<h3 class="artist-name"><span>off</span></h3>
			</div>
			<div class="controls">
				<div class="option"><i class="fas fa-bars"></i></div>
				<div class="volume"><i class="fas fa-volume-up"></i></div>
				<div class="previous"><i class="fas fa-backward"></i></div>
				<div class="play"><i class="fas fa-play"></i></div>
				<div class="pause"><i class="fas fa-pause"></i></div>
				<div class="next"><i class="fas fa-forward"></i></div>
				<div class="shuffle"><i class="fas fa-random"></i></div>
				<div class="add"><i class="fas fa-plus"></i></div>
			</div>
			<div class="current-queue">
				{% for track in album.track_list %}
					<ul id="queue-list">
						<li> {{ track.track_number }}</li>
						<li id="get-track-name"> {{ track.recording.name }}</li>
						<li> {{ track.recording.duration }}</li>
						<li id="get-artist-name">  NOT DONE </li>
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}