{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_page/playlist_list_style.css' %}">
{% endblock %}
{% block content %}
    <div id="right">
        <h1>My Playlists</h1>
        <div class="playlist-list">
            {% if playlist_list %}
                <table>
					<tr>
						<th>Name</th>
						<th># Songs</th>
                        <th>Time Created</th>
					</tr>
					{% for playlist in playlist_list %}
					<tr class="hover-this">
						<td>
							<a class="text" href="{%url 'playlist:playlist-detail' playlist.id%}">
                                {{ playlist.name }}
							</a>
						</td>
						<td>{{ playlist.total_songs }}</td>
                        <td>{{ playlist.time_created }}</td>
					</tr>
					{% endfor%}
				</table>
            {% else %}
                <p class="text">No playlists are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
