{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_page/track_list_style.css' %}">
{% endblock %}
{% block content %}
	<div id="right">
		<h1>Top Trending Recordings</h1>
		<div class="latest-album-list">
			{% if recording_list %}
				<table>
					<tr>
						<th>Name</th>
						<th>Artists</th>
						<th>Duration</th>
					</tr>
					{% for recording in recording_list %}
					<tr class="hover-this">
						<td>
							<a class="text" href="{{ recording.get_absolute_url }}">
								{{ recording.name }}
							</a>
						</td>
						<td>{{ recording.get_artist_names }}</td>
						<td>{{ recording.duration }}</td>
						<td onclick="addSongToQueue({{ recording.id }})"><i class="fas fa-plus-circle"></i></td>
					</tr>
					{% endfor%}
				</table>
			{% else %}
				<p class="text">No recordings are available.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
