{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_page/track_list_style.css' %}">
{% endblock %}
{% block content %}
	<div id="right">
		<h1>Top Trending Track</h1>
		<div class="latest-album-list">
			{% if track_list %}
				<table>
					<tr>
						<th>Track Number</th>
						<th>Album</th>
						<th>Track Name</th>
					</tr>
					{% for track in track_list %}
					<tr class="hover-this">
						<td>
							{{ track.track_number }}
						</td>
						<td>
							<a class="text" href="{% url 'music:album-detail' track.album.id %}">
								{{ track.album.name }}
							</a>
						</td>
						<td>
							<a class="text" href="{% url 'music:track-detail' track.id %}">
								{{ track.recording.name }}
							</a>
						</td>
						<td onclick="addSongToQueue({{ track.recording.id }})">
							<i class="fas fa-plus-circle"></i>
						</td>
					</tr>
					{% endfor %}
				</table>
				{% endfor %}
			{% else %}
				<p class="text">No tracks are available.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
