{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/album_detail_style.css' %}">
{% endblock %}
{% block content %}
	<div id="right">
		<div id="album-info">
			<h1>{{playlist.name}}</h1>
			<p>Created at {{playlist.time_created}}</p>
			<p>Playlist song count: {{ playlist.song_list|length }}</p>
			{% if view.request.user.is_authenticated %}
			<a href="{% url 'playlist:playlist-update' pk=playlist.pk %}"><i class="fas fa-pen"></i></a>
			<a href="{% url 'playlist:playlist-delete' pk=playlist.pk %}"><i class="fas fa-trash"></i></a>
			{% endif %}
		</div>
		<div id="track-list">
			<h3>Song List</h3>
			<ul>
				<li><strong>Name</strong></li>
				<li><strong>Duration</strong></li>
				<li><strong>Artists</strong></li>
			</ul>

			{% for recording in playlist.song_list %}
			<ul><a href="{{ recording.get_absolute_url }}">
				<li>{{ recording.name }}</li>
				<li>{{ recording.duration }}</li>
				<li>{{ recording.get_artist_names }}</li>
			</a></ul>
			{% endfor %}
		</div>
	</div>
{% endblock %}
