{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_playlist_style.css' %}">
{% endblock %}
{% block content %}
    <div id="right">
        <h1>My Playlists</h1>
        <div class="playlist-list">
			<table>
				<tr>
					<th>Name</th>
					<th># Songs</th>
					<th>Time Created</th>
				</tr>
				{% for playlist in playlist_list %}
				<tr class="hover-this">
					<td>
						<a class="text" href="{{ playlist.get_absolute_url }}">
							{{ playlist.name }}
						</a>
					</td>
					<td>{{ playlist.song_list|length }}</td>
					<td>{{ playlist.time_created }}</td>
				</tr>
				{% endfor%}
			</table>
        </div>
    </div>
{% endblock %}
