<div id="left">
    <ul>
        <a href="{% url 'music:index' %}"><li><i class="fas fa-home"></i> Home</li></a>
        <li id="search-button"><i class="fas fa-search"></i> Search</li>
        <a href="{% url 'playlist:user-playlist' %}"><li><i class="fas fa-headphones-alt"></i> My Playlists</li></a>
		{% if view.request.user.is_authenticated %}
		<a href="{% url 'edit:album-add' %}"><li><i class="fas fa-plus"></i> Add Album</li></a>
		<a href="{% url 'edit:recording-add' %}"><li><i class="fas fa-plus"></i> Add Recording</li></a>
		<a href="{% url 'playlist:playlist-add' %}"><li><i class="fas fa-plus"></i> Add Playlist</li></a>
		{% endif %}
    </ul>
</div>
