{% load static %}

<style>
    #navbar {
        background: #343a40;
        height: 70px;
        line-height: 70px;
        overflow: hidden;
    }

    #navbar a {
        text-decoration: none;
    }

    #navbar a h1 {
        color: white;
        margin: 0;
        text-indent: 10px;
        float: left;
        cursor: pointer;
        line-height: 70px;
        font-size: 25pt;
    }

    #navbar input{
        margin-left: 50px;
        width: 380px;
        height: 35px;
        border-radius: 30px;
        font-size: 14pt;
        text-indent: 15px;
    }

    #navbar input:focus {
        outline: none;
    }

	.hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 40px;
        float: right;
   }
</style>

<nav id="navbar">
    <a href="{% url 'music:index' %}"><h1><i class="fas fa-compact-disc"></i> Lohaa Music</h1></a>
	{% if view.request.user.is_authenticated %}
    <span ><a  class="hello-msg" href="{% url 'account:logout' %}">Logout</a></span>
    <span class="hello-msg">Hello, {{request.user}}</span>
	{% else %}
    <span ><a  class="hello-msg" href="{% url 'account:login' %}">Login</a></span>
	{% endif %}
    <form action="{% url 'searching:search-results' %}" method="get">
        <input id="search-box" name="q" type="text" placeholder="Search for Artists, Tracks or Albums...">
    </form>
</nav>
