body{
	font-family: Arial;
	background: black;
	margin: 0px auto;
}

#main #left {
	background: black;
	width: 15%;
	float: left;
}

#main #left ul {
	list-style-type: none;
	padding-left: 0px;
}

#main #left ul a {
	text-decoration: none;
}

#main #left ul li {
	font-size: 15pt;
	color: grey;
	padding: 15px 5px 15px 15px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

#main #left ul li:hover {
	color: white;
	border-radius: 3px;
	background: #212121;
}

#main #right {
	width: 85%;
	float: right;
	height: 0;
	padding-bottom: 60%;
}

#main #right #album-info {
	background: black;
    height: 250px;
    color: white;
    text-align: center;
}

#main #right #album-info h1 {
	font-size: 70pt;
	margin: 0;
	padding-top: 35px;
}

#main #right #album-info p {
	font-size: 15pt;
	margin: 0;
}

#main #right #track-list {
    height: 500px;
	background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(240,147,43,1) 80%);
    color: white;
    text-indent: 30px;
}

#main #right #track-list .big-button {
    font-size: 45pt;
    color: #6c5ce7;
    margin: 0;
    padding: 20px;
}

#main #right #track-list .big-button:hover {
    transform: scale(1.1);
	transition-duration: 0.5s;
	cursor: pointer;
}

#main #right #track-list h3 {
    margin: 0;
    font-size: 20pt;
}

#main #right #track-list ul {
	column-count: 5;
	column-gap: 30px;
	list-style-type: none;
	padding: 12px 0px 12px 15px;
	border-bottom: 1px solid white;
	margin: 0;
}

#main #right #track-list ul a {
	text-decoration: none;	
}

#main #right #track-list ul:hover {
	background: grey;
}

#main #right #track-list ul li{
	color: white;
	padding: 0px;
	margin-left: 25px;
}

#main #right #track-list #add-button i:hover {
    cursor: pointer;
    transform: scale(1.12);
	transition: all .4s ease;
}

#artist_item ul {
	all: initial;
	display: inline;
	list-style: none;
	
}
#artist_item ul li {
	all: initial;
	font-family: Arial;
	font-size: medium;
}
#list-owner {
	all: initial;
	font-size: 15pt;
	list-style: none;
	color: white;
}
#list-owner a {
	text-decoration: none;
}
#list-owner li{
	color: white;
	font-size: 15pt;
	display: inline;
	
}
