body{
	font-family: Arial;
	background: black;
	margin: 0px auto;
}

#main #left {
	background: black;
	width: 15%;
	float: left;
}

#main #left ul {
	list-style-type: none;
	padding-left: 0px;
}

#main #left ul a {
	text-decoration: none;
}

#main #left ul li {
	font-size: 15pt;
	color: grey;
	padding: 15px 5px 15px 15px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

#main #left ul li:hover {
	color: white;
	border-radius: 3px;
	background: #212121;
}

#main #right {
	width: 85%;
	float: right;
	height: 0;
	padding-bottom: 60%;
}

#main #right #artist-info {
	background: black;
    height: 100px;
    color: white;
    text-align: center;
}

#main #right #credit-album {
    height: 500px;
	background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(240,147,43,1) 80%);
    color: white;
    text-indent: 30px;
}

#main #right #credit-album h3 {
    margin: 0;
    font-size: 20pt;
}

#main #right #credit-album  ul {
	column-count: 5;
	column-gap: 50px;
	list-style-type: none;
	padding: 12px 0px 12px 15px;
	border-bottom: 1px solid white;
	margin: 0;
}

#main #right #credit-album  ul:hover {
	background: grey;
	text-decoration: underline;
}

#main #right #credit-album ul li{
	color: white;
	padding: 0px;
	margin-left: 25px;
}

#main #right #owned-album {
    height: 500px;
	background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(240,147,43,1) 80%);
    color: white;
    text-indent: 30px;
}

#main #right #owned-album  ul {
	column-count: 5;
	column-gap: 5px;
	list-style-type: none;
	padding: 6px 0px 6px 5px;
	border-bottom: 1px solid white;
	margin: 0;
}

#main #right #owned-album  ul:hover {
	background: grey;
}

#main #right #owned-album ul li{
	color: white;
	padding: 0px;
	margin-left: 10px;
}
#main #right #owned-album #list-owner {
	all: initial;
	list-style-type: none;
}
#main #right #owned-album #list-owner li{
	display: inline;
}