{% extends 'account/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/artist_style.css' %}">
{% endblock %}
{% block content %}

<div id="main">
    <div id="left">
        <ul>
            <li><i class="fas fa-home"></i> Home</li>
            <li><i class="fas fa-search"></i> Search</li>
            <li><i class="fas fa-headphones-alt"></i> Your library</li>
        </ul>
    </div>
    <div id="right">
        {% if album %}
        <div id="credit-album">
            <div class="artist-info">
                <h1>Artist.name</h1>
            </div>
            <div class="list">
                <h3>Credit Album</h3>
                <ul>
                    <li><strong>Name</strong></li>
                    <li><strong>Release Date</strong></li>
                    <li><strong>Owner</strong></li>
                    <li><strong>Type</strong></li>
                </ul>
                <ul class="list-hover"><a href="">
                    <li> {{ album.name }}</li>
                    <li> {{ album.release_date }}</li>
                    <li> {{ owner }}</li>
                    <li> {{ album.album_type }}</li>
                </a></ul>
            </div>
        </div>


        <div class="list">
            <h3>Artist's Album</h3>
            <ul>
                <li><strong>Name</strong></li>
                <li><strong>Release Date</strong></li>
                <li><strong>Owner</strong></li>
                <li><strong>Type</strong></li>
            </ul>
            <ul class="list-hover"><a href="">
                <li> {{ album.name }}</li>
                <li> {{ album.release_date }}</li>
                <li> {{ owner }}</li>
                <li> {{ album.album_type }}</li>
            </a></ul>
        </div>
    </div>
</div>
{% endblock %}
