<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Music Streaming</title>
	<script src="https://kit.fontawesome.com/39248c2d37.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/player_style.css' %}">
</head>
<body>
	<div id="menu_top">
		<h1><i class="fas fa-compact-disc"></i> Lohaa Music</h1>
		<input type="text" placeholder="Search for Artists, Tracks or Albums...">
		<a class="right-side" href="{% url 'register' %}"> REGISTER</a>
		<a class="right-side" href="{% url 'login' %}"> LOGIN</a>
	</div>
	<div id="main">
		<div id="left">
			<ul>
				<li><i class="fas fa-home"></i> Home</li>
				<li><i class="fas fa-search"></i> Search</li>
				<li><i class="fas fa-headphones-alt"></i> Your library</li>
			</ul>
		</div>
		<div id="right">
			<div id="album">
				<h2>Latest album</h2>
				<ul>
					<li>album 1</li>
					<li>album 2</li>
					<li>album 3</li>
					<li>album 4</li>
					<li>album 5</li>
					<li>album 5</li>
				</ul>
			</div>
			<div id="trend">
				<h2>Trending</h2>
				<ul>
					<li>track 1</li>
					<li>track 2</li>
					<li>track 3</li>
					<li>track 4</li>
					<li>track 5</li><li>track 5</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div id="player">
		<div class="info">
			<div class="progress-bar">
				<div class="time--current">1:25</div>
				<div class="time--total">
					<span id="total" onload="myFunction()"></span>
				</div>
				<div class="fill"></div>
			</div>
			<div class="currently-playing">
				<h2 class="song-name">1 Phut</h2>
				<h3 class="artist-name">Andiez</h3>
			</div>
			<div class="controls">
				<div class="option"><i class="fas fa-bars"></i></div>
				<div class="volume"><i class="fas fa-volume-up"></i></div>
				<div class="previous"><i class="fas fa-backward"></i></div>
				<div class="play"><i class="fas fa-play"></i></div>
				<div class="pause"><i class="fas fa-pause"></i></div>
				<div class="next"><i class="fas fa-forward"></i></div>
				<div class="shuffle"><i class="fas fa-random"></i></div>
				<div class="add"><i class="fas fa-plus"></i></div>
			</div>
		</div>
	</div>

	<div id="footer"></div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="{% static 'js/player_script.js' %}"></script>
</body>
</html>